
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.headerDiv {
  max-width: 100%;
  width: 40%;
  margin: 54.5px auto;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 2em 0 rgb(8, 8, 8);
}

.headerDiv button {
  max-width: 100%;
  width: 40%;
  height: 35px;
  margin: 5px 10px;
  border-radius: 8px;
  border: solid 1.9px;
  border-style: none;
  cursor: pointer;
  color: black;
  background: #fff;
  font-weight: 545;
  box-shadow: inset 0 0 2em 0 rgb(8, 8, 8);
}

.headerDiv button:hover {
  opacity: 0.8;
}

.container {
  margin: 0 auto;
  width: 40%;
  height: 72vmin;
  display: flex;
  margin-top: -45px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: inset 0 0 2em 0 rgb(8, 8, 8);
}

.container h1 {
  margin-top: 0px;
  color: rgba(17, 17, 17, 0.87);
  font-weight: 530;
  font-size: 2.4rem;
}

.container img {
  margin-top: 30px;
  border-radius: 50%;
}

.btns {
  margin-top: 30px;
}

.btns button {
  max-width: 100%;
  width: 100px;
  height: 35px;
  margin: 0px 10px;
  border-radius: 8px;
  border: solid 1.9px;
  border-style: none;
  cursor: pointer;
  color: black;
  background: #fff;
  font-weight: bolder;
  box-shadow: inset 0 0 2em 0 rgb(8, 8, 8);
}

.btns button:hover {
  opacity: 0.8;
}

@media (max-width: 826px) {
  .headerDiv {
    max-width: 100%;
    width: 80%;
    margin: 52px auto;
  }

  .headerDiv button {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }

  .container {
    min-height: 96vmin;
    max-width: 100%;
    width: 80%;
    margin: -45px auto;
  }
}